
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Error 500</title>
<link rel="shortcut icon" rel="icon" href="http://sinasho.ir/errorpage/img/error-page.png">
<link rel="shortcut icon" href="">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="http://sinasho.ir/errorpage/css/style.css" />

</head>
<body>
<div id="notfound">
<div class="notfound">
<div class="notfound-404">
<h1>Oops!</h1>
</div>
<h2>500 - Internal server error</h2>
<a href="/">Go To Homepage</a>
</div>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="23de43d8871102a05a4a037a-text/javascript"></script>
<script type="23de43d8871102a05a4a037a-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="23de43d8871102a05a4a037a-|49" defer=""></script></body>
</html>
