  <nav style="  position: fixed; top: 0; width: 100%;  z-index: 10000;" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><strong><font size="6">Article$ite</font></strong></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"><strong><font size="3">Home</font></strong></a></li>
          <li><a href="/articles"><strong><font size="3">Articles</font></strong></a></li>
          <li><a href="/about"><strong><font size="3">About</font></strong></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
              <li><a href="/dashboard"><strong><font size="3">Dashboard</font></strong></a></li>
              <li><a href="/logout"><strong><font size="3">Logout</font></strong></a></li>
              <li><a href="/profile"><strong><font size="3">Profile</font></strong></a></li>
            {% else %}
              <li><a href="/register"><strong><font size="3">Register</font></strong></a></li>
              <li><a href="/login"><strong><font size="3">Login</font></strong></a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>