{% extends 'layout.html' %}



{% block body %}
<body class="bg" style="background-image:url(http://sinasho.ir/ArticleSite/about_bg.jpg);">
        
    <h1>About me</h1>
    <p><font color="black" size="4">Hi guys , My name is Sina .I am a computer student and 
            created this site for cloud computing lesson project .<br />Thank you.
            <br />
            <br />
            <strong>Designer : Sina Shah Oveisi </strong></font></p>
            <label><strong><font color="black" size="6">Contact me : </font></strong></label>
            <br />
            <div style="overflow-x:auto">
                <table class="table" border=1 frame=void rules=rows >
                    <tr>
                        <td><a href="https://www.instagram.com/sinaa.d/" target="_blank"><img  src='https://image.flaticon.com/icons/png/64/87/87390.png'/></td>
                        <td><a href="https://telegram.me/sinashahoveisi" target="_blank"><img  src='https://image.flaticon.com/icons/png/64/87/87413.png'/></td>
                        <td><a href="https://twitter.com/sinashahoveisi" target="_blank"><img  src='https://image.flaticon.com/icons/png/64/87/87406.png'/></td>
                        <td><a href="https://sinasho.ir" target="_blank"><img  src='https://image.flaticon.com/icons/png/64/1450/1450332.png'/></td>
                    </tr>
                </table>
            </div>
</body>
{% endblock %}