{% extends 'layout.html' %}



{% block body %}
<body class="bg" style="background-image:url(http://sinasho.ir/ArticleSite/articles_bg.jpg)">
    <div>
        <div class="jumbotron text-center">
            <h1>Articles</h1>
            </div>
            <table class="table table-striped">
                {% for article in articles %}
                    <tr>
                        <td><a class="pull-left" href="/article/{{ article.id }}"><strong><font color="black" size="4">{{ article.title }}</font></strong></a></td>
                            {% for like in likes %}
                                {% if like.id_user == session.id and article.id == like.id_article and session.logged_in != NULL  %}
                                    <td><a class="pull-right"><img  src='https://image.flaticon.com/icons/png/32/148/148838.png'/></a></td>
                                {% endif %}
                            {% endfor %}
                    </tr>
                {% endfor %}
            </table>
    </div>
</body>
{% endblock %}