{% extends 'layout.html' %}

{% block body %}
<style>
    input[type=submit] {
            width: 60%;
            background-color: rgb(8, 106, 197);
            color: white;
            padding: 6.5px 0px;
            margin: 0px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: #f00a0a;
        }
</style>
<body class="bg" style="background-image:url(https://jooinn.com/images/paper-20.png);">
    <div class="jumbotron text-center">
        <h1><font color="black">{{ title }}</font></h1>
        <p class="lead"><small><font color="black">Writting by  {{writer}}<br />   on   {{create_date}}</font></small></p>
    </div>
    <hr>
    <div><font color="black" size="3">
        {{body | safe }}
    </font></div>
    <br />
    <br />
    <br />
    <br/>
    <hr>
    <hr>
    <h2><strong><font color="black" >Liked by </font></strong></h2>
    <br />
    {% for like in likes %}
        <strong><p><font color="black" size="3"> @{{like.username}} .</font></p></strong>
    {% endfor %}
    {% if session.logged_in != NULL %}
        {% if liked == 0 %}
            <a href="like_article/" type="like" class="pull-right"><img  src='https://image0.flaticon.com/icons/png/64/149/149219.png'/></a>
        {% else %}
            <a href="dislike_article/" class="pull-right"><img  src='https://image.flaticon.com/icons/png/64/148/148838.png'/></a>
        {% endif %}
    {% endif %}
    <br />
    <br />
    <br />
    <br/>
    <h3><strong><font color="black">Comments</font></strong></h3>
    <hr>
    <ul class="list-group">
        {% for comment in comments %}
            <strong><font color="black" size="3">@{{comment.username}}</font></strong>
            <br />
            <p><font color="black" size="2">{{ comment.comment }}</font></p>

            {% if id_user == comment.id_user or id_user==1 %}
            <form action="{{url_for('delete_comment', id=comment.id)}}" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger" style="width: 100px;">
            </form>
            {% endif %}
            <hr>
        {% endfor %}
    </ul>
    <hr>
    <br />
    <br />
    <br />
    <br />
    {% if session.logged_in != NULL %}
    <form method="POST" action="">
        <strong><font color="black" size="5">Write Comment </font></strong>
        <div class="form-group">
            <input type="text" name="comment" color="black" placeholder="Write Comment ..." class="form-control">
        </div>
        <td><button type ="submit" class="btn btn-primary" value="Send">Send</button></td>
    </form>
    {% endif %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>


{% endblock %}