{% extends 'layout.html' %}

{% block body %}
<style>
    input[type=submit] {
            width: 60%;
            background-color: rgb(8, 106, 197);
            color: white;
            padding: 6.5px 0px;
            margin: 0px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: #f00a0a;
        }
</style>
<body class="bg" style="background-color: darkgray;">
    <h1><font color="black" >Dashboard</font><font color="black" size="4"> Welcome {{session.username}}</font></h1>
    <a class="btn btn-success" href="/add_article"> Add Article</a>
    <hr>
    <div style="overflow-x:auto">
        <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Writer</th>
                    <th>Date Time</th>
                    <th></th>
                    <th></th>  
                </tr>
                {% for article in articles %}
                        <tr>
                            <td></td>
                            <td><font color="black" size="3">{{ article.title }}</font></td>
                            <td><font color="black" size="3">{{ article.writer }}</font></td>
                            <td><font color="black" size="3">{{ article.create_date }}</font></td>
                            <td><a  href="edit_article/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
                            <td>
                                <form action="{{url_for('delete_article', id=article.id)}}" method="POST">
                                    <input type="submit" value="Delete" class="btn btn-danger" style="width: 100px;">
                                </form>
                            </td> 
                        </tr>
                {% endfor %}
            </table>
    </div>
</body>
{% endblock %}